
@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../fonts/Quicksand-Regular.woff2') format('woff2'),
         url('../fonts/Quicksand-Regular.woff') format('woff');
    font-weight: 400;   
    font-display: swap;  
}

@font-face {
	font-family: 'Linearicons-Free';
	src:url('../fonts/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../fonts/Linearicons-Free.woff?w118d') format('woff');
	font-weight: normal;
	font-style: normal;
}