html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    font-family: 'Quicksand-Regular';
}

a {                  
    text-decoration: none;
    display: inline-block;
    color: #000;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}