html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a {
    text-decoration: none;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;

    &--fluid {
        max-width: 1980px;
    }
}

.rate-star {
    display: inline-block;

    &-small {
        display: inline-block;
    }
}

.text {
    line-height: 30px;
    color: #555555;
    overflow: scroll;

    &::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $blue;
        border-radius: 30%;
    }
}

.title-box {
    margin: 0 auto;
    max-width: 63%;
    margin-bottom: 53px;
    text-align: center;

    &__title {
        font-size: 36px;
        margin-bottom: 22px;

        &--blue {
            color: $blue;
        }
    }

    &__text {
        line-height: 30px;
        color: #555;
    }
}