$grey-bg: #eef1f3;
$blue: #0674ec;
$grey-icon: #7e8fa1;

@mixin fw500 {
    font-family: 'Quicksand-Medium';
    font-weight: 500;
}

@mixin fw700 {
    font-family: 'Quicksand-Bold';
    font-weight: 700;
}