@import 'fonts';
@import 'vars';
@import 'linearicons';
@import 'global';

//------------Header start-------------------

.header {
    &__top {
        background-color: $grey-bg;
    }

    &__top-inner {
        height: 100px;
        margin-left: 9px;
    }

    &__top-inner,
    &__box,
    &__menu-inner,
    &__menu-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        margin-right: 49px;
        padding: 10px 18px;
        font-size: 14px;
        color: #fff;
        background-color: $blue;
        border-radius: 25px;
        transition: background-color 0.5s, color 0.5s;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        outline: transparent;

        &:hover,
        &:active {
            background-color: #d9dfe5;
            color: $blue;
        }

        &:focus {
            border: 2px solid #000;
        }
    }

    &__icon {
        margin-right: 32px;
        position: relative;
        font-size: 20px;
        color: $grey-icon;
        transition: color 0.5s;

        &:hover,
        &:hover .header__cart,
        &:active {
            color: #ff6a6c;
        }
    }

    &__cart {
        color: $grey-icon;
    }

    &__count {
        padding: 2px 6px;
        position: absolute;
        bottom: 17px;
        left: 15px;
        font-size: 14px;
        color: #fff;
        border-radius: 11px;

        &--alarm {
            left: 8px;
            background-color: #ff6a6c;
        }

        &--envelope {
            background-color: #62d03b;
        }

        &--cart {
            background-color: $blue;
        }
    }

    &__user-box {
        margin-left: 16px;
        display: flex;
        align-items: center;
    }

    &__user-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__user-content {
        margin-left: 20px;
    }

    &__user-name {
        line-height: 22px;
        font-weight: 500;
        color: #333;
        display: block;
    }

    &__user-balance {
        font-size: 15px;
        line-height: 22px;
        color: $blue;
    }

    &__menu-inner {
        height: 80px;
    }

    &__menu-list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

    &__menu-item {
        &+& {
            padding-left: 33px;
        }
    }

    &__menu-link {
        font-size: 15px;
        font-weight: 600;
        color: #333;
        transition: color 0.3s;
    }

    &__menu-link--active,
    &__menu-link:hover,
    &:active {
        color: $blue;
    }

    &__menu-search {
        width: 31%;
        position: relative;
    }

    &__menu-input {
        width: 100%;
        padding: 13px 80px 13px 23px;
        display: block;
        border: 1px solid #d9dfe5;
        border-radius: 25px;
        outline: transparent;

        &::placeholder {
            color: #898f96;
            font-size: 15px;
        }

        &:focus {
            border: 2px solid #000;
        }
    }

    &__menu-btn {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        padding: 14px 26px;
        background-color: $blue;
        border-radius: 25px;
        color: #fff;
        outline: transparent;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;

        &:hover,
        &:active {
            background-color: #d9dfe5;
            color: $blue;
        }

        &:focus {
            border: 2px solid #000;
        }
    }
}

//------------Header end---------------------

//------------Search start-------------------

.search {
    background-image: linear-gradient(270deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);

    &__inner {
        position: relative;
        margin-bottom: 184px;
        text-align: center;
        color: #fff;
    }

    &__inner-title {
        font-size: 60px;
        padding-top: 171px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

        &--bold {
            display: block;
            margin-bottom: 37px;
            font-weight: 700;
        }
    }

    &__inner-text {
        margin-bottom: 68px;
        font-weight: 500;
        font-size: 20px;
    }

    &__inner-btn {
        padding: 18px 32px;
        margin-bottom: 234px;
        display: inline-block;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 28px;
        transition: background-color 0.5s, color 0.5s;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        outline: transparent;

        &+& {
            margin-left: 23px;
        }

        &:hover,
        &:active {
            background-color: #fff;
            color: $blue;
        }

        &:focus {
            border: 2px solid #000;
        }
    }

    &__form {
        width: 100%;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: -65px;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
        z-index: 3;
    }

    &__form::after,
    &__form::before {
        content: '';
        margin: 0 auto;
        height: 40px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        border-radius: 6px;
        background-color: #fff;
    }

    &__form::after {
        width: 97%;
        top: -14px;
        opacity: 0.4;
        z-index: 2;
    }

    &__form::before {
        width: 95%;
        top: -26px;
        opacity: 0.5;
        z-index: 1;
    }

    &__form-input {
        max-width: 613px;
        width: 100%;
        padding: 17px 29px;
        border: 1px solid #d9dfe5;
        border-right: none;
        border-radius: 4px 0 0 4px;
        outline: transparent;

        &:focus {
            border: 2px solid #000;
        }
    }

    &__menu {
        position: relative;

        &::after {
            content: '';
            display: block;
            background-image: url(../images/icons/search-down.svg);
            position: absolute;
            width: 12px;
            height: 9px;
            top: 50%;
            transform: translateY(-50%);
            right: 23px;
        }
    }

    &__menu-select {
        margin: 0;
        width: 195px;
        padding: 17px 37px 17px 19px;
        border: 1px solid #d9dfe5;
        font-size: 16px;
        color: #555;
        border-radius: 0 4px 4px 0;
        outline: transparent;
        appearance: none;

        &:focus {
            border: 2px solid #000;
        }
    }

    &__form-btn {
        margin-left: 30px;
        padding: 17px 64px;
        border: none;
        border-radius: 4px;
        background-color: $blue;
        color: #fff;
        cursor: pointer;
        outline: transparent;
        transition: background-color 0.5s, color 0.5s;

        &:hover,
        &:active {
            background-color: #d9dfe5;
            color: $blue;
        }

        &:focus {
            border: 2px solid #000;
        }
    }
}

//------------Search end-----------------------

//------------Features start-------------------

.features {

    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 118px;
    }

    &__item {
        width: 32%;
        padding: 30px;
        padding-top: 42px;
        transition: box-shadow 0.5s;

        &:hover {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
    }

    &__item-img {
        width: 112px;
        height: 122px;
        margin: 0 auto;
        margin-bottom: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__item-title {
        font-size: 24px;
        font-weight: 500;
    }

    &__item-text {
        padding-top: 6px;
        font-size: 16px;
        line-height: 30px;
    }
}

//------------Features end-------------------

//------------Weekly start-------------------

.weekly {
    background-color: $grey-bg;

    &__inner {
        padding: 119px 0;
        border-radius: 7px;
    }
}

.top-box {
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    padding: 33px 30px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 30px;
    }

    &__arrows {
        border-radius: 23px;
    }

    &__slider {
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
        height: 450px;
    }

    .slick-arrow {
        border: none;
        background-color: #7347c1;
        color: white;
        padding: 13px 18px;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
        outline: transparent;

        &:hover,
        &:active {
            background-color: #7f4fd3;
        }

        &:focus {
            border: 2px solid #000;
        }

        &--prev {
            border-radius: 30px 0 0 30px;
        }

        &--next {
            border-radius: 0px 30px 30px 0;
        }
    }
}

.product-item {
    display: flex !important;
    justify-content: space-between;

    &:hover .product-item__links {
        height: 100%;
    }

    &__img {
        max-width: 557px;
        height: 450px;
        border-radius: 4px 0 0 4px;
        object-fit: cover;
        display: block;
    }

    &__box {
        position: relative;
    }

    &__links {
        display: block;
        width: 100%;
        height: 0;
        background-image: linear-gradient(270deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px 0 0 4px;
        overflow: hidden;
        transition: height 1s;
    }

    &__link {
        border: 1px solid #fff;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        background-color: transparent;
        padding: 13px 31px;
        border-radius: 25px;
        transition: background-color 0.3s, color 0.3s;
        outline: transparent;

        &+& {
            margin-left: 10px;
        }

        &:hover,
        &:active {
            background-color: #fff;
            color: $blue;
        }

        &:focus {
            border: 2px solid #000;
        }
    }

    &__inner {
        max-width: 583px;
        padding: 26px 40px 0px 49px;
        border-radius: 0 4px 4px 0;
        background-color: #fff;
    }

    &__title {
        height: 64px;
        font-size: 24px;
        font-weight: 500;
        color: #000;
        display: flex;
        align-items: center;
        transition: color 0.3s;
        overflow: hidden;

        &:hover {
            color: $blue;
        }
    }

    &__company-box,
    &__company-link {
        display: flex;
        align-items: center;
    }

    &__company-box {
        margin-bottom: 24px;
    }

    &__company-img {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 8px;
    }

    &__company-name {
        font-size: 15px;
        color: #000;
        margin-right: 20px;
        transition: color 0.3s;

        &:hover,
        &:active {
            color: $blue;
        }
    }

    &__type {
        position: relative;
        padding-left: 24px;
        transition: color 0.3s;

        &:hover,
        &:active {
            color: #ff6a6c;
        }
    }

    &__type-icon {
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        left: 0;
        background-repeat: no-repeat;
    }

    &__text {
        line-height: 30px;
        color: #555555;
        overflow: scroll;
        margin-bottom: 14px;
        max-height: 140px;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 5px;

        }

        &::-webkit-scrollbar-thumb {
            background-color: $blue;
            border-radius: 30%;
        }
    }
}

.categories {
    padding: 5px 0 38px;
    display: flex;
    flex-wrap: wrap;
    max-height: 77px;

    &__btn {
        padding: 4px 16px;
        border: none;
        margin-right: 4px;
        margin-bottom: 10px;
        background-color: #f1f3f6;
        color: #868c96;
        border-radius: 18px;
        transition: background-color 0.5s, color 0.5s;
        cursor: pointer;
        outline: transparent;

        &:hover,
        &:active {
            background-color: $blue;
            color: #fff;
        }

        &:focus {
            border: 2px solid #000;
        }
    }
}

.stats {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ececec;
    font-size: 15px;
    background-color: #fff;

    &__price {
        margin-right: 10px;
        padding: 7px 19px;
        border-radius: 18px;
        font-weight: 500;
        background-color: $blue;
        color: #fff;
    }

    &__btn {
        border: none;
        background-color: transparent;
        padding: 0 10px;
        cursor: pointer;
        outline: transparent;
        transition: color 0.3s;

        &:hover,
        &:hover .lnr-heart,
        &:active {
            color: #ff6a6c;
        }

        &:focus {
            border: 2px solid #000;
        }

        &--blue {
            color: $blue;
            margin-right: 5px;
        }
    }
}

//------------Weekly end-------------------

//------------Products start---------------

.products {
    background-color: #f6f7fb;
    padding: 120px 0; 
    

    .top-box {
        margin-bottom: 27px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;

        &__title {
            padding: 6px 0;
            font-size: 30px;
        }

        &__filter {
            position: relative;
        }

        &__filter-btn {
            border: none;
            background-color: transparent;
            position: relative;
            font-size: 16px;
            color: #747b86;
            cursor: pointer;
            padding-right: 29px;
            outline: transparent;
            transition: color 0.3s;

            &::after {
                content: '';
                width: 8px;
                height: 20px;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                background-image: url(../images/icons/filter-icon.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:hover,
            &:active {
                color: $blue;
            }

            &:focus {
                border: 2px solid #000;
            }
        }

        &__filter-menu {
            min-width: 184px;
            margin: 0;
            padding: 10px 0;
            display: none;
            position: absolute;
            right: 10px;
            top: 50px;
            list-style: none;
            background-color: #fff;
            box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
            z-index: 5;

            &::after {
                content: '';
                display: block;
                width: 13px;
                position: absolute;
                top: -14px;
                right: 17px;
                border-style: solid;
                border-width: 0 6.5px 14px 6.5px;
                border-color: transparent transparent #fff transparent;
            }
        }

        &__filter-link {
            width: 100%;
            border: none;
            margin: 0;
            padding: 7px 25px;
            background-color: #fff;
            font-size: 15px;
            display: block;
            color: #747b86;
            cursor: pointer;
            text-align: start;
            transition: color 0.3s;

            &:hover {
                color: $blue;
            }
        }
    }

    .categories {
        max-height: 200px;
        margin-bottom: 51px;
        padding: 30px 23px 23px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        background-color: #fff;

        &__btn {
            margin-left: 6px;
            padding: 6px 17px;
        }
    }

    &__inner {
        margin-bottom: 27px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .product-item {
        flex-direction: column;
        width: 32%;
        border-radius: 4px;
        margin-bottom: 34px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

        &__img {
            width: 100%;
            height: 230px;
            border-radius: 4px 4px 0 0;
        }

        &__links {
            border-radius: 4px 4px 0 0;
        }

        &__inner {
            padding: 10px 30px 14px;
        }

        &__title {
            max-width: 300px;
            height: 55px;
            font-size: 20px;
        }

        &__text {
            max-height: 107px;
            margin: 0;
        }
    }

    .stats {
        padding: 19px 14px 19px 31px;
        border-radius: 0 0 4px 4px;

        &__price {
            background-color: #e6f1fd;
            color: $blue;
            margin-right: 0;
            padding: 6px 13px;
        }
    }

    &__buttom {
        text-align: center;
    }

    &__buttom-btn {
        display: inline-block;
        background-color: $blue;
        color: #fff;
        padding: 18px 30px;
        border-radius: 28px;
        transition: background-color 0.3s, color 0.3s;
        outline: transparent;

        &:hover,
        &:active {
            background-color: #e6f1fd;
            color: $blue;
        }

        &:focus {
            border: 2px solid #000;
        } 
    }
}

//------------Products end-----------------------

//------------Followers start--------------------



//------------Followers end-----------------------

//------------ start--------------------