@import 'vars';
@import 'global';
@import 'fonts';

.logo {
    width: 200px;
    height: 50px;
}

.header__btn:hover,
.search__inner-btn:hover {
    background-color: #fff;
    color: $blue;
}

.header {
    &__top {
        background-color: $grey-bg;
    }

    &__top-inner {
        height: 100px;
        margin-left: 9px;
    }

    &__top-inner,
    &__box,
    &__menu-inner,
    &__menu-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        margin-right: 49px;
        padding: 10px 18px;
        font-size: 14px;
        color: #fff;
        background-color: $blue;
        border-radius: 25px;
        transition: all 0.5s;
    }

    &__icon {
        margin-right: 32px;
        position: relative;
        font-size: 20px;
        color: $grey-icon;
        transition: color 0.5s;

        &:hover {
            color: #ff6a6c;
        }
    }

    &__count {
        padding: 2px 6px;
        position: absolute;
        bottom: 17px;
        left: 15px;
        font-size: 14px;
        color: #fff;
        border-radius: 11px;

    }

    &__count--alarm {
        left: 8px;
        background-color: #ff6a6c;
    }

    &__count--envelope {
        background-color: #62d03b;
    }

    &__count--cart {
        background-color: $blue;
    }

    &__user-box {
        margin-left: 16px;
        display: flex;
        align-items: center;
    }

    &__user-img {
        width: 50px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }

    &__user-content {
        margin-left: 20px;
    }

    &__user-name {
        font-family: 'Quicksand-Medium';
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: #333;
        transition: color 0.3s;

        &:hover {
            color: $blue;
        }
    }

    &__user-balance {
        font-size: 15px;
        line-height: 22px;
        color: $blue;
    }

    &__menu-inner {
        height: 80px;
    }

    &__menu-list {
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }

    &__menu-item+&__menu-item {
        padding-left: 33px;
    }

    &__menu-link {
        font-family: 'Quicksand-Medium';
        font-size: 15px;
        font-weight: 700;
        color: #333;
        transition: color 0.3s;
    }

    &__menu-link--active {
        color: $blue;
    }

    &__menu-link:hover {
        color: $blue;
    }

    &__menu-search {
        width: 358px;
        position: relative;
    }

    &__menu-input {
        width: 100%;
        padding: 13px 80px 13px 23px;
        display: block;
        border: 1px solid #d9dfe5;
        border-radius: 21px;
        outline: transparent;


        &::placeholder {
            color: #898f96;
            font-size: 15px;
        }
    }

    &__menu-btn {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        padding: 14px 26px;
        background-color: $blue;
        border-radius: 21px;
        color: #fff;
        outline: transparent;
        cursor: pointer;
    }

}

.search {
    background-image: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);

    &__inner {
        position: relative;
        margin-bottom: 184px;
        text-align: center;
        color: #fff;
    }

    &__inner-title {
        font-size: 60px;
        padding-top: 171px;
    }

    &__inner-title--bold {
        display: block;
        margin-bottom: 35px;
        font-family: 'Quicksand-Bold';
    }

    &__inner-text {
        margin-bottom: 68px;
        font-family: 'Quicksand-Medium';
        font-size: 20px;
    }

    &__inner-btn {
        margin-bottom: 236px;
        padding: 18px 32px;
        background-color: $blue;
        color: #fff;
        border-radius: 28px;
        transition: all 0.5s;
    }

    &__inner-btn+&__inner-btn {
        margin-left: 23px;
    }

    &__form {
        width: 100%;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: -65px;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        background-color: #fff;
        z-index: 3;
    }

    &__form::after,
    &__form::before {
        content: '';
        margin: 0 auto;
        height: 40px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        border-radius: 6px;
        background-color: #fff;
    }

    &__form::after {
        width: 97%;
        top: -14px;
        opacity: 0.4;
        z-index: 2;
    }

    &__form::before {
        width: 95%;
        top: -26px;
        opacity: 0.5;
        z-index: 1;
    }

    &__form-input {
        max-width: 613px;
        width: 100%;
        padding: 17px 29px;
        border: 1px solid #d9dfe5;
        border-right: none;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        outline: transparent;
    }

    &__menu {
        margin: 0;
        width: 195px;
        padding: 0 15px;
        border: 1px solid #d9dfe5;
        font-size: 16px;
        color: #555;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        outline: transparent;
    }

    &__form-btn {
        margin-left: 30px;
        padding: 17px 66px;
        border: none;
        border-radius: 3px;
        background-color: $blue;
        color: #fff;
        cursor: pointer;
        outline: transparent;
    }
}

.features {

    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 120px;
    }

    &__item {
        width: 32%;
        padding: 30px;
        padding-top: 42px;
    }

    &__item--shadow {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }

    &__item-img {
        width: 112px;
        height: 122px;
        margin: 0 auto;
        margin-bottom: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__item-title {
        font-size: 24px;
        font-weight: 600;
    }

    &__item-text {
        padding-top: 3px;
        font-size: 16px;
        line-height: 30px;
    }
}
.BG {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    position: absolute;
    left: 390px;
    top: 1895px;
    width: 1140px;
    height: 450px;
    z-index: 625;
  }
  

.weekly {
    background-color: $grey-bg;

    &__inner {
        padding: 119px 0;
        border-radius: 7px;
    }

    &__slider-title {
        margin-bottom: 50px;
        background-color: #fff;
        font-size: 30px;
        padding: 38px 30px;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    }
    
    &__slider.slick-slider{
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    }

    &__slider .slick-arrow {
      border: none;
      position: absolute;
      z-index: 2;
      background-color: #7347c1;
      padding: 11px 18px;
      outline: transparent;
      cursor: pointer;
      transition: background-color 0.5s;
    }

    &__slider .slick-arrow:hover {
        background-color: #8955e2;
    }

    &__slider .slick-next {
        top: -126px;
        right: 29px;
        border-top-right-radius: 22px;
        border-bottom-right-radius: 22px;
    }

    &__slider .slick-prev {
        right: 83px;
        top: -126px;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
    }

    &__item {
        display: flex !important;
    }

    &__img {
        min-width: 49%;
        height: 450px;
        object-fit: cover;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    &__box {
        padding: 47px 48px 24px;
        background-color: #fff;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        overflow: hidden;
    }

    &__title {
        font-family: 'Quicksand-Medium';
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 14px;
        display: block;
    }

    &__company-box {
        display: flex;
        align-items: center;
        margin-bottom: 26px;
    }

    &__company-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__company-name {
        font-size: 15px;
        font-weight: 600;
        padding-left: 8px;
        margin-right: 20px;
        transition: color 0.3s;

        &:hover {
            color: $blue;
        }
    }

    &__type {
        font-size: 15px;
        color: #7347c1;
        font-weight: 600;
        padding-left: 10px;
        position: relative;
        transition: color 0.3s;

        &:hover {
            color: #ff6a6c;
        }
    }

    &__type-icon {
        width: 16px;
        height: 16px;
        display: block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #555;
        margin-bottom: 35px;
    }

    &__category {
        font-size: 15px;
        color: #868c96;
        background-color: #f1f3f6;
        padding: 5px 15px;
        border-radius: 18px;
        margin-bottom: 45px;
        transition: all 0.5s;

        &:hover {
            color: #fff;
            background-color: rgb(126, 125, 125);
        }
    }

    &__category+&__category {
        margin-left: 4px;
    }

    &__info {
        border-top: 1px solid #f1f3f6;
        justify-content: space-between;
        padding-top: 24px;
    }

    &__info,
    &__counts {
        display: flex;
        align-items: center;
    }

    &__prise {
        margin-right: 18px;
        padding: 7px 20px;
        font-family: 'Quicksand-Medium';
        color: #fff;
        background-color: $blue;
        font-size: 15px;
        border-radius: 18px;
        transition: all 0.5s;

        &:hover {
            color: $blue;
            background-color: $grey-bg;
        }
    }

    &__likes {
        color: #7347c1;
        margin-right: 23px;
    }

    &__likes-count {
        color: #333;
    }

    &__amount {
        color: $blue;
    }

    &__rating-bar {
        display: inline-block;
        font-size: 0;
    }

    &__rating {
        padding: 0;
        font-size: 21px;
        line-height: 1;
        color: #d8dce0;

        &::before {
            content: '★';
        }
    }

    &__rating--active {
        color: #ffc000;
    }

}