.features {
    padding: 184px 0 122px;

    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    &__item {
        width: 32%;
        padding: 30px 30px 9px;
        padding-top: 42px;
        transition: box-shadow 0.5s;

        &:hover {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
    }

    &__item-img {
        width: 112px;
        height: 122px;
        margin: 0 auto;
        margin-bottom: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__item-title {
        font-size: 24px;
    }

    &__item-text {
        padding-top: 6px;
        font-size: 16px;
    }
}