.follower {
    background-color: $grey-bg;
    padding: 120px 0 116px;

    .slick-arrow {
        background-color: $blue;

        &:hover,
        &:focus {
            background-color: #025fda;
        }
    }

    &__slider {
        margin: 0 -10px;
        overflow: hidden;
    }

    .slick-slide {
        margin: 0 11px;
    }
}