.support {

    &__inner {
        display: flex;
    }

    &__item {
        width: 50%;
        padding: 63px 0 60px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &+& {
            border-left: 1px solid #e8eaf3;
        }
    }

    &__img {
        width: 155px;
        height: 119px;
        background-repeat: no-repeat;
        margin-bottom: 28px;
    }

    &__text {
        font-size: 24px;

        &--blue {
            color: $blue;
        }

        &--violet {
            color: #7347c1;
        }
    }
}
