.weekly {
    background-color: $grey-bg;

    &__inner {
        padding: 119px 0;
        border-radius: 7px;
    }

    &__top {
        margin-bottom: 50px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        padding: 33px 30px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__top-arrows {
        .slick-arrow {
            border: none;
            background-color: #7347c1;
            color: white;
            padding: 13px 18px;
            transition: background-color 0.3s ease-in-out;
            cursor: pointer;
            outline: transparent;

            &:hover,
            &:active,
            &:focus {
                background-color: #7f4fd3;
            }

            &--prev {
                border-radius: 30px 0 0 30px;
            }

            &--next {
                border-radius: 0px 30px 30px 0;
            }
        }
    }

    &__title {
        max-width: 850px;
        font-size: 30px;
    }

    &__arrows {
        border-radius: 23px;
    }

    &__slider {
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
        height: 450px;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 4px;

        .lnr {
            margin-right: 5px;
        }
    }

    &__item-box {
        position: relative;
    }

    &__item-img {
        max-width: 557px;
        height: 450px;
        border-radius: 4px 0 0 4px;
        object-fit: cover;
        display: block;
    }

    &__item-links {
        border-radius: 4px 0 0 4px;
    }

    &__item-inner {
        max-width: 583px;
        padding: 46px 40px 0px 49px;
        border-radius: 0 4px 4px 0;
    }

    &__item-title {
        max-width: 500px;
        max-height: 30px;
        font-size: 24px;
        margin-bottom: 14px;
    }

    &__item-text {
        margin-bottom: 14px;
        max-height: 140px;
    }

    &__item-bottom {
        padding: 0 7px 0 0;
        height: 80px;
    }

    &__stats {
        max-width: 390px;
        max-height: 35px;
    }

    &__item-price {
        margin-right: 5px;
        padding: 7px 19px;
        background-color: $blue;
        color: #fff;
    }

    &__item-btn {
        padding: 0 10px;

        &--blue {
            color: $blue;
        }
    }

    &__type {
        padding: 5px 0 38px;
        display: flex;
        flex-wrap: wrap;
        max-height: 77px;
        overflow: hidden;
    }

    &__type-btn {
        padding: 4px 16px;
        border: none;
        margin-right: 4px;
        margin-bottom: 10px;
        background-color: #f1f3f6;
        color: #868c96;
        border-radius: 18px;
        transition: background-color 0.5s, color 0.5s;
        cursor: pointer;
        outline: transparent;

        &:hover,
        &:active {
            background-color: $blue;
            color: #fff;
        }

        &:focus {
            border: 1px solid #000;
        }
    }
}